/* .container-cascata{
    background-color: aqua;
}

.container-cascata{
    background-color: orange;
} */

.container-especificidade p{
    background-color: chartreuse;
}

p{
    background-color: lightskyblue
}


#meu-paragrafo{
    background-color: violet;
}
/* 
site para calcular a especificidade https://specificity.keegan.st/ */